
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-family: 'kdam Thmor Pro', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: auto;
    width: 150px;
}

header ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly
}

header a {
    padding: 10px;
    color: white;
    transition: .5s;
}

header a:hover {
    color: red;
}

#banner {
    background-image:url(midia/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    background-position: 50% 50%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#trailer {
}

#sinopse {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px dotted yellow;
}

section p {
    
    text-align: justify;
    font-size: 0.9em;
}

#botao {
    height: 60px;
    width: 200px;
    background-color: red;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    padding: 10px;
    transition: .5s;
    cursor: pointer;
    align-items: center;
    margin-top: 20px;
}

#botao:hover {
    background-color: white;
    color: red;
}